DIV.table 
{
    display:table;
}
DIV.tr:hover {	background-color: #EFEFEF;
}
DIV.tr
{
    display:table-row;
	/*background-color: #F5F5F5;*/
}
DIV.tr:nth-child(even) {
	background-color: #F5F5F5;
}	
DIV.tr:nth-child(odd) {
	background-color: #DBDBDB;
}	   
DIV.tr:hover {	background-color: #FFF3CC;
}	   
	   
SPAN.td
{
    display:table-cell;
}
.verde{
   background: #C6FFC6;
}	   